.section-price {

    width: 100%;
    background: #F5F5F5;
}

.section-price-all {
    width: 1170px;
    height: 800px;
    margin: 0 auto;
    background: #F5F5F5;
    padding-top: 50px;
}

.section__title {
    font-size: 36px;
    width: 100%;
    width: 1170px;
    height: 150px;
    display: flex;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
    text-transform: uppercase;

}

.section__solid {
    border: 1px solid #EC7979;
    width: 170px;
    margin: 0 auto;
}

.section__undertitle {
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    padding: 40px 10px 70px 10px;
}

.section__all-list {
    display: flex;
    justify-content: space-between;

}

.section__first-list:hover {
    flex-direction: column;
    display: flex;
    width: 370px;
    position: relative;
    bottom: 20px;

}

.section__title-list {
    background-color: #333333;
    height: 210px;
}

.section__basic {
    height: 60px;
    color: white;
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__solid-list {
    width: 370px;
    border: 1px solid #F5F5F5;

}

.section__dollar {
    height: 100px;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__free {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__1gb {
    border: 2px solid #F5F5F5;
    background: #FFF;
    width: 370px;
    height: 50px;
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__second-list:hover {
    flex-direction: column;
    display: flex;
    width: 370px;
    position: relative;
    bottom: 20px;

}

.section__third-list:hover {
    flex-direction: column;
    display: flex;
    width: 370px;
    position: relative;
    bottom: 20px;
}

@media (max-width:1200px) {

    .section__title {
        width: 992px;
        height: 120px;
        font-size: 24px;
        margin: 0 auto;
    }

    .section__solid {
        width: 115px;
    }

    .section-price-all {
        width: 992px;

    }

    .section__first-list {
        width: 310px;
    }

    .section__second-list {
        width: 310px;
    }

    .section__third-list {
        width: 310px;
    }

    .section__first-list:hover {
        flex-direction: column;
        display: flex;
        width: 310px;
        position: relative;
        bottom: 10px;

    }

    .section__second-list:hover {
        flex-direction: column;
        display: flex;
        width: 310px;
        position: relative;
        bottom: 10px;

    }

    .section__third-list:hover {
        flex-direction: column;
        display: flex;
        width: 310px;
        position: relative;
        bottom: 10px;
    }

    .section__1gb {
        width: 310px;
        font-size: 18px;

    }



    .section__solid-list {
        width: 310px;

    }

}


@media (max-width:1050px) {

    .section__title {
        width: 750px;
        height: 120px;
        font-size: 24px;
        margin: 0 auto;
    }

    .section__solid {
        width: 115px;
    }

    .section-price-all {
        width: 780px;

    }

    .section__first-list {
        width: 245px;
    }

    .section__second-list {
        width: 245px;
    }

    .section__third-list {
        width: 245px;
    }

    .section__first-list:hover {
        flex-direction: column;
        display: flex;
        width: 245px;
        position: relative;
        bottom: 10px;

    }

    .section__second-list:hover {
        flex-direction: column;
        display: flex;
        width: 245px;
        position: relative;
        bottom: 10px;

    }

    .section__third-list:hover {
        flex-direction: column;
        display: flex;
        width: 245px;
        position: relative;
        bottom: 10px;
    }

    .section__1gb {
        width: 245px;
        font-size: 18px;

    }



    .section__solid-list {
        width: 245px;

    }

}

@media (max-width:800px) {
    .section__title {
        width: 100%;
        font-size: 18px;
    }

    .section-price-all {
        height: 1840px;
        width: 100%;

    }

    .section__all-list {
        display: flex;
        flex-direction: column;
        height: 1540px;

        justify-content: space-around;
        align-items: center;
    }

}