.section-contact {
    height: 650px;
    width: 1170px;
    margin: 0 auto;
}

.section-contact-form-left {
    width: 580px;
    height: 200px;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
}

.Name {
    display: flex;
    width: 571px;
    height: 40px;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid #BDBDBD;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.Email {
    display: flex;
    width: 571px;
    height: 40px;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid #BDBDBD;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

::placeholder {
    color: #BDBDBD;
    ;
}

.Password {
    display: flex;
    width: 571px;
    height: 40px;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid #BDBDBD;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.section-contact-area {
    width: 569px;
    height: 195px;
    display: inline-flex;
    position: absolute;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #BDBDBD;
    margin-left: 20px;
}

.section-contact-start {
    width: 370px;
    height: 58px;
    background-color: #EC7979;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #FFF;
    font-family: Open Sans;
    font-size: 18px;
    margin-top: 50px;
    text-decoration: none;
}

.section-contact-start:active {
    background: #AB4949;
    box-shadow: 0px 0px 10px 0px #AB4949 inset;

}

.section-contact-start:hover {
    background: #AB4949;
}

@media (max-width: 1200px) {

    .section-contact {
        width: 992px;

    }

    .section-contact-form-left {
        width: 480px;
        margin-left: 20px;

    }

    .Name {
        font-size: 14px;
        width: 486px;

    }

    .Password {
        font-size: 14px;
        width: 486px;

    }

    .Email {
        font-size: 14px;
        width: 486px;
    }

    .section-contact-area {
        font-size: 14px;
        width: 486px;
        height: 170px;
        margin-top: 24px;

    }

    .section-contact-start {
        width: 310px;
        height: 58px;
        font-size: 18px;

    }
}

@media (max-width: 1050px) {

    .section-contact-form-left {
        display: block;
        margin: 0 auto;
        width: 300px;
    }

    .section-contact-area {
        display: block;
        margin: 0 auto;
        margin-left: 344px;
        width: 306px;

    }

    .section-contact {
        height: 807px;
        width: 100%;

    }

    .section-contact-start {
        margin-top: 224px;
        width: 288px;
        height: 50px;
    }

    .Name {
        font-size: 14px;
        width: 306px;

    }

    .Password {
        font-size: 14px;
        width: 306px;

    }

    .Email {
        font-size: 14px;
        width: 306px;
    }


}