.section-design {
    width: 1510px;
    height: 442px;

}

.section-design-opacity {
    width: 1510px;
    height: 442px;
    background: url("../Image/image\ \(7\).png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
}

.section-design-black {
    width: 1510px;
    height: 442px;
    opacity: 50%;
    background: url("../Image/1639333142_1-abrakadabra-fun-p-chernii-kvadrat-na-rabochii-stol-1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
}

.section-design__title {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    display: flex;
    width: 1170px;
    height: 150px;
    justify-content: center;
    align-items: center;

}