.section-design {
    width: 100%;
    height: 442px;
    margin: 0 auto;

}

.section-design-black {
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 442px;
    position: absolute;
    z-index: -1;
}

.section-design-container {
    position: relative;
    background: url(../Image/image\ \(7\).png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    z-index: 1;
    width: 100%;
    height: 442px;
}

.section-design-all {
    width: 1170px;
    margin: 0 auto;
}

.section-design__title {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    display: flex;
    width: 1170px;
    height: 150px;
    justify-content: center;
    align-items: center;

}

.section-design-solid {
    border: 1px solid white;
    width: 170px;
    margin: 0 auto;
}

.section-design__text {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    margin-top: 40px;
}

.section-download {
    width: 370px;
    height: 58px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    border: 1px solid white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 73px;
}

.section-download:hover {
    border: 2px solid #EC7979;
}

.section-download:active {
    border: 2px solid #AB4949;
    background: #AB4949;
}

@media (max-width: 1200px) {
    .section-design__title {

        width: 992px;
        font-size: 24px;

    }

    .section-design-solid {
        width: 142px;

    }

    .section-design-all {
        width: 992px;

    }

    .section-design__text {
        width: 992px;
        font-size: 14px;

    }

    .section-download {
        width: 310px;
        height: 58px;
        font-size: 18px;


    }
}

@media (max-width: 1050px) {

    .section-design__title {

        width: 288px;
        height: 120px;
        margin: 0 auto;
    }

    .section-design-solid {
        width: 134px;

    }

    .section-design-all {
        width: 350px;
        height: 358px;

    }

    .section-design__text {
        width: 288px;
        height: 80px;
        font-size: 14px;
        margin: 0 auto;
        padding-top: 20px;

    }

    .section-download {
        width: 287px;
        height: 50px;
        font-size: 18px;


    }
}