.section-contact {
    height: 650px;
    width: 1170px;
    margin: 0 auto;
}

.section-contact-form-left {
    width: 580px;
    height: 200px;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
}

.name {
    display: flex;
    width: 571px;
    height: 40px;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid #BDBDBD;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.email {
    display: flex;
    width: 571px;
    height: 40px;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid #BDBDBD;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

::placeholder {
    color: #BDBDBD;
    ;
}

.password {
    display: flex;
    width: 571px;
    height: 40px;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid #BDBDBD;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.section-contact-area {
    width: 569px;
    height: 195px;
    display: inline-flex;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #BDBDBD;
}

.section-contact-area {
    width: 569px;
    height: 188px;
    display: inline-flex;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    border-bottom: none;
}

.section-contact-area textarea {
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #BDBDBD;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 569px;

}

.section-contact-start {
    width: 370px;
    height: 58px;
    background-color: #EC7979;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #FFF;
    font-family: Open Sans;
    font-size: 18px;
    margin-top: 50px;
    text-decoration: none;
}



.section-contact-start:active {
    background: #AB4949;
    box-shadow: 0px 0px 10px 0px #AB4949 inset;

}

.section-contact-start:hover {
    background: #AB4949;
}

@media (max-width: 1200px) {

    .section-contact {
        width: 992px;

    }

    .section-contact-form-left {
        width: 480px;
        margin-left: 20px;

    }

    .name {
        font-size: 14px;
        width: 444px;
    }

    .password {
        font-size: 14px;
        width: 444px;
    }

    .email {
        font-size: 14px;
        width: 444px;
    }

    .section-contact-area {
        font-size: 14px;
        width: 444px;
        height: 188px;

    }

    .section-contact-start {
        width: 310px;
        height: 58px;
        font-size: 18px;

    }
}

@media (max-width: 1050px) {

    .section-contact {
        width: 750px;

    }

    .section-contact-form-left {
        width: 360px;
        margin-left: 20px;

    }

    .name {
        font-size: 14px;
        width: 444px;
    }

    .password {
        font-size: 14px;
        width: 330px;
    }

    .email {
        font-size: 14px;
        width: 330px;
    }

    .section-contact-area {
        font-size: 14px;
        width: 330px;
        height: 188px;

    }

    .section-contact-start {
        width: 250px;
        height: 58px;
        font-size: 18px;

    }
}

.section-contact-area textarea {
    width: 350px;
}


@media (max-width: 800px) {

    .section-contact-form-left {
        display: block;
        margin: 0 auto;
        width: 300px;
    }

    .section-contact-area {
        display: block;
        margin: 0 auto;
        width: 306px;

    }

    .section-contact {
        height: 807px;
        width: 100%;
        width: 306px;

    }

    .section-contact-area textarea {
        width: 306px;
        height: 150px;
    }

    .section-contact-start {
        width: 288px;
        height: 50px;
    }

    .name {
        font-size: 14px;
        width: 306px;

    }

    .password {
        font-size: 14px;
        width: 306px;

    }

    .email {
        font-size: 14px;
        width: 306px;
    }


}